// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap-reboot";

// Mains
@import 'fonts';

// Variables
@import 'variables/variables--colors';
@import 'variables/variables--fonts';
@import 'variables/variables--sizes';

// Mixins
@import 'mixins/mixin--gradient';

// Layout
@import 'layouts/layout';

// Contents
@import 'contents/content--main';
@import 'contents/content--footer';
@import 'contents/content--header';

// Elements
@import 'elements/element--button';

body {
  font-family: $main-font;
  background-color: $color-white;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
