// Header

.site-header {
  padding: $rem20;
  border-bottom: 1px solid $color-dk-grey;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $color-white;
  }

  .logo {
    display: inline-block;
    filter: brightness(90%);
  }

  p {
    display: inline-block;
  }
}
