// Main content

.content {
  padding: $rem100 0 $rem100 * 2;

  h2 {
    @include gradient-color;
    font-size: 24px;
    font-weight: 700;
  }

  .map {
    img {
      display: block;
      width: 100%;
    }
  }
}
