// Colors

$bg-color: #e5e5e5;
$color-white: #fff;
$color-blue: #07aef8;
$color-md-blue: #3355d9;
$color-dk-blue: #193dc9;
$color-grey: #e2e2e2;
$color-dk-grey: #7d7d7d;

// Gradient

$gradient-bg: linear-gradient(158.51deg, #3D50BD 16.64%, #06A6EC 83.39%);
$gradient-blend: hard-light;
$gradient-mix: normal;
