footer.footer
  .container
    .row.footer__top
      .col-sm-12.col-md-6.col-lg-3
        h3 Rólunk
        p 
          | Lorem ipsum 
          b dolor sit amet, consectetur adipiscing 
          | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col-sm-12.col-md-6.col-lg-3
        h3 Kapcsolat
        ul.contact
          li.mail info@peldaemail.hu
          li.phone +36 00 000 0000
          li.address Budapest, Deák Ferenc tér 2.
      .col-sm-12.col-md-6.col-lg-3
        h3 További információk
        ul
          li
            a(href="javascript:void(0);") Helyszínek
          li
            a(href="javascript:void(0);") Adatvédelmi szabályzat
          li
            a(href="javascript:void(0);") Általános szerződési feltételek
      .col-sm-12.col-md-6.col-lg-3
        h3 Kövess minket!
        ul.social
          li
            a(href="javascript:void(0);")
              img(src="../images/icons/icon--facebook.svg")
          li
            a(href="javascript:void(0);")
              img(src="../images/icons/icon--instagram.svg")
          li
            a(href="javascript:void(0);")
              img(src="../images/icons/icon--twitter.svg")
          li
            a(href="javascript:void(0);")
              img(src="../images/icons/icon--youtube.svg")
    .row.footer__bottom
      .col
        p 2020 Példawebsite. All right reserved.
