footer.footer
  .container
    .row.footer__top
      .col-sm.col-xs-12
        h2 asdf
      .col-sm.col-xs-12
        h2 asdf
      .col-sm.col-xs-12
        h2 asdf
      .col-sm.col-xs-12
        h2 asdf
    .row.footer__bottom
      .col
        h2 asdf
