header
  .row
    .col-sm.col-xs-12
      a.logo(href="/")
        img(src="../public/images/logo.svg")
    .col-sm.col-xs-12
      .row
        .col-sm.col-xs-12
          p.mail
            a(href="mailto:info@peldaemail.hu") info@peldaemail.hu
          p.phone
            | +36 00 000 0000
        .col-sm.col-xs-12
          .social
            a.facebook(href="javascript:void(0);") asdf
            a.instagram(href="javascript:void(0);") asdf
          .lang
            p asdf
          button.btn Ajánlatkérő lista
