main.content
  .container
    .row
      .col-sm-12.col-md-6.col-lg-6
        section.info
          h2 Példa Kft.
          ul.info__inner
            li.info__inner--line
              p
                b Cím:
              span Budapeset, Deák Ferenc tér 2.
            li.info__inner--line
              p
                b Adószám:
              span 2000000-2-24
            li.info__inner--line
              p
                b Cégjegyzékszám:
              span 01-09-00000
            li.info__inner--line
              p
                b Website:
              span www.peldawebsite.hu
            li.info__inner--line
              p
                b E-mail:
              span info@peldamail.hu
            li.info__inner--line
              p
                b Telefon:
              span +36 00 000 0000
      .col-sm-12.col-md-6.col-lg-6
        aside.map
          img(src="../images/map.svg")
